<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Appointment</title>
</head>
<body>
<div class="col-md-3" th:each="doctor:${doctor}">
    <div class="product-card">

        <div class="product-card-body">

            <h5 class="product-name">
                Name:<span th:text="${doctor.docname}"></span>

            </h5>
            <div>
                <span th:text="${doctor.specialization}"></span><br>
                Appointment Fee:<span th:text="${doctor.appfee}"></span><br>
                Doctor Fee:<span th:text="${doctor.docfee}"></span><br>
                Time:<span th:text="${doctor.timming}"></span>
            </div>
            <div class="mt-2">
                <a href="" class="btn btn1">Book Appointment</a>

            </div>
        </div>
    </div>
</div>

</body>
</html>